{% extends 'base.html'%} {% block body%}
<div class="background" alt=""></div>
<div class="log-wrapper log-wrapper--register">
  <div class="log--register">
    <div class="info-box info-box--register">
      <div class="info__logo">Whispr</div>
      <div class="info__description info__description-register">
        Chat with <br />
        your <strong>friends</strong><br />
        around whole <br />world
      </div>
      <img
        class="info__img info__img--register"
        src="./phone.png"
        alt="Phone"
      />
      <p class="info__content info__content--register">
        Discrover new friends, connect with people,<br />
        make new memories!
      </p>
    </div>
    <div class="sign__screen">
      <div class="sign__title">Sign Up</div>
      <div class="sign__subtitle">Have an account? <a href="">Log in</a></div>
      <form class="sign__form" action="">
        <label>Email</label>
        <input type="text" placeholder="johndoe@example.com" />
        <label>Username</label>
        <input type="text" placeholder="John Doe" />
        <label class="sign__label">Password</label>
        <input type="text" label="password" />
        <label class="sign__label">Confirm password</label>
        <input type="text" label="confirm password" />
        <button class="sign__button" type="submit">Create account</button>
      </form>
    </div>
  </div>
</div>
{%endblock%}
