{% extends 'base.html'%} {% block body%}
<div class="chat-container">
  <div class="user-header">
    <div class="user-info--left">
      <img src="{{ url_for('static', filename='images/user.png')}}" alt="" class="user-photo" />
      <h4 class="user-name">Chatting with: <strong>{{with_user}}</strong></h4>
    </div>
  </div>
  <div class="chat-window">
    <div class="messages-window" id="content">

    </div>
    <form class="chat-wrapper" id="message-form">
      <textarea
        placeholder="Say hello to your friend..."
        class="chat-input"
        name="chat-input"
        id="message-input"
      ></textarea>
      <button type="submit" id="submit-button">Send</button>
    </form>
  </div>
</div>
{%endblock%}

{% block script %}
<script>
  
  let page = 0;
  let pageNext = 1;

  const messageWindow = document.getElementById("content");
  const messageForm = document.getElementById("message-form");
  const messageInput = document.getElementById("message-input");
  const submitBtn = document.getElementById("submit-button");

  const room = "{{room}}";

  document.onkeydown = (e) => {
    if (e.keyCode == 13) {
      sendMessage()
    }
  }
  
  function scrollBottom(){
    messageWindow.scrollTop = messageWindow.scrollHeight;
  }

  function isTop() {
    return  (- event.target.scrollTop + messageWindow.clientHeight + 5) >= messageWindow.scrollHeight
  }

  messageWindow.addEventListener("scroll", async (event) => {
    if (isTop() && page < pageNext) {
      await load();
    }
  })


  var socketio = io(window.location.origin);
  socketio.on("connect", function() {
      socketio.emit("join_room", {room: room})
  })

  socketio.on("disconnect", function() {
      socketio.emit("leave_room", {room: room})
  })

  const sendMessage = () => {
    const message = messageInput.value;
    if (message){
      socketio.emit("message", {message: message, room: room, with_user: "{{with_user}}" });
      messageInput.value = '';
    } 
    return false;
  }

  const createMessage = ({text, sender, timestamp}) => {
      const isMe = sender.id == "{{user.id}}";
      const second = isMe ? '--second': ''
      const message = document.createElement('div');
      message.classList.add(`message-wrapper${second}`)
      message.innerHTML = `
<div class="message-header">
  <span class="message-time"> ${timestamp} </span>
</div>
<div class="message-bubble${second}">
  <p>
    ${text}
  </p>
</div>`
    return message;
  }

  socketio.on("message", data => {
    console.log(data)
    const message = createMessage(data);
    messageWindow.insertBefore(message, messageWindow.firstChild);
    scrollBottom();
  })

  messageForm.onsubmit = sendMessage;

  async function load() {
    page++;
    const response = await fetch(`{{get_url('api.get_messages', username='__var1__')}}?page=${pageNext}`.replace("__var1__", "{{with_user}}"));
    const json = await response.json();
    if (response.status >= 200 && response.status < 400) {
      if (json.pages > pageNext){
        pageNext++;
      }
    }
    json.data.forEach((message) => messageWindow.appendChild(createMessage(message)));
  }

  document.addEventListener("DOMContentLoaded", async () => {
    while (messageWindow.clientHeight + 50 >= messageWindow.scrollHeight && page < pageNext) {
      await load();
    }
  })

  /*fetch("{{get_url('api.get_messages', username='__var1__')}}".replace("__var1__", "{{with_user}}") + new URLSearchParams())
  .then(response => response.json())
  .then(json => json.data.forEach(message => createMessage(message)))
  .then(scrollBottom)
  .catch(error => console.log(error))*/

  fetch("{{get_url('api.see_messages', username='__var1__')}}".replace("__var1__", "{{with_user}}"))
</script>
{% endblock %}
