{% extends 'base.html'%} {% block body%}
<div class="chat-container">
  <div class="user-header">
    <div class="user-info">
      <img src="{{ url_for('static', filename='images/user.png')}}" alt="" class="user-photo" />
      <h3 class="user-name">{{with_user}}</h3>
    </div>
  </div>
  <div class="chat-window">
    <div class="messages-window" id="content">

      <!-- friends message -->
      <div class="message-wrapper">
        <div class="message-header">
          <span class="message-time"> 11:01 </span>
          <span class="message-sender">{{with_user.username}}</span>
        </div>
        <div class="message-bubble">Hello I have to tell you something</div>
      </div>

      <!-- my message -->
      <div class="message-wrapper--second">
        <div class="message-header">
          <span class="message-time"> 11:01 </span>
          <span class="message-sender"> You </span>
        </div>
        <div class="message-bubble--second">
          Hello I have to tell you something
        </div>
      </div>

    </div>
    <form class="chat-wrapper" id="message-form">
      <textarea
        placeholder="Say hello to your friend..."
        class="chat-input"
        name="chat-input"
        id="message-input"
      ></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
</div>
{%endblock%}

{% block script %}
<script>
  
  const content = document.getElementById("content");
  const messageForm = document.getElementById("message-form");
  const messageInput = document.getElementById("message-input");
  
  var socketio = io();
  socketio.on("connect", function() {
      socketio.emit("join_room", {room: "{{room}}"})
  })

  socketio.on("disconnect", function() {
      socketio.emit("leave_room", {room: "{{room}}"})
  })

  const sendMessage = () => {
    const message = messageInput.value;

    if (!message){
      console.log(message)
      return false;
    } 

    fetch("{{ get_url('api.send_message', username='__var1__') }}".replace("__var1__", '{{with_user}}'), {
        method: "POST",
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({message: message})
    })
    .then(response => {
      if (!response.ok){
        throw new Error(response.text());
      }
      return response.json()
    })
    .then(json => {
        json.room = "{{room}}";
        console.log(json);
        socketio.emit("message", json)
        messageInput.value = ""
    })
    .catch(error => console.log(error))

    return false;
  }

  const createMessage = ({text, sender, timestamp}) => {
      const isMe = sender === "{{user.username}}";
      const second = isMe ? '--second': ''
      const message = document.createElement('div');
      message.classList.add(`message-wrapper${second}`)
      message.innerHTML = `
<div class="message-header">
  <span class="message-time"> ${timestamp} </span>
  <span class="message-sender"> ${sender} </span>
</div>
<div class="message-bubble${second}">
  ${text}
</div>`
      content.append(message)
  }

  socketio.on("message", data => {
    console.log(data)
    createMessage(data)})
  messageForm.onsubmit = sendMessage;

</script>

<script>
  fetch("{{get_url('api.get_messages', username='__var1__')}}".replace("__var1__", "{{with_user}}") + new URLSearchParams())
  .then(response => response.json())
  .then(json => json.data.forEach(message => createMessage(message)))
  .catch(error => console.log(error))
</script>
{% endblock %}
