{% extends 'base.html'%}

{% block body%}
<div class="messages-container">
  <h1 class="main-title">Messages</h1>
  {%for friend in friends%}
  <a href="{{ url_for('views.open_chat', username=friend['username']) }}">
    <div class="message-tab ">
      {% if friend['last_message'] and not friend['last_message'].seen and user.id != friend.last_message.sender.id %}
        <div class="user-info unseen-background">
      {% else %}
        <div class="user-info">
      {% endif%}
          <div class="user-group">
            <img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="user-photo--big" />
              <div class="message-wrap">
                <h3 class="user-name">{{friend['username']}}</h3>
                {% if friend['last_message']%}
                  <p class="user-message">{{friend['last_message'].text}}</p>
                {% else %}
                  <p class="user-message">No messages yet.</p>
                {% endif %}
              </div>
          </div>
          <div class="message-info">
            {% if friend['last_message']%}
          <span class="user-time">18:22 PM</span>
          {% else %}
          {% endif %}
        </div>
      </div>
    </div>
  </a>
  {% endfor  %}
  {% if friends|length == 0%}
  <div class="message-tab">
    <div class="user-info user-info--noresult">
        <div class="message-info">
            <p>No friends yet.</p>
        </div>
    </div>
  </div>
  {%endif %}
</div>
{% endblock %}
