{% extends 'base.html'%} {% block body%}
<div class="background" alt=""></div>
<div class="log-wrapper log-wrapper--register">
  <div class="log--register">
    <div class="info-box info-box--register">
      <div class="info__logo">Whispr</div>
      <div class="info__description info__description-register">
        Chat with <br />
        your <strong>friends</strong><br />
        around whole <br />world
      </div>
      <img
        class="info__img info__img--register"
        src="{{ url_for('static', filename='images/phone.png') }}"
        alt="Phone"
      />
      <p class="info__content info__content--register">
        Discrover new friends and connect with people!
      </p>
    </div>
    <div class="sign__screen">
      <div class="sign__title">Sign Up</div>
      <div class="sign__subtitle">Have an account? <a class="a-redirect" href="{{ url_for('views.login')}}">Log in</a></div>
      <form class="sign__form" action="{{url_for('views.register')}}" method="post">
        <label>Email</label>
        <input type="text" placeholder="johndoe@example.com" name="email" value="{{email}}"/>
        {% if message_email %}
          <p class="valid-alert">{{message_email}}</p>
        {% endif %}
        <label class="sign__label">Username</label>
        <input type="text" placeholder="johndoe1" name="username"/>
        <label class="sign__label">Password</label>
        <input type="password" label="password" name="password"/>
        {% if message_password %}
          <p class="valid-alert">{{message_password}}</p>
        {% endif %}
        <label class="sign__label">Confirm password</label>
        <input type="password" label="confirm password" name="password2" />
        <button class="sign__button" type="submit">Create account</button>
      </form>
    </div>
  </div>
</div>
{%endblock%}
