{% extends 'base.html'%} {% block body%}
<div class="messages-container" >
  <h1 class="main-title">Search Friends</h1>
  <div id="cover">
    <form id="search-form">
      <div class="search-container">
        <div class="td"><input type="text" placeholder="Search" class="search-input" required id="search-box"></div>
        <div class="td" id="s-cover">
          <button class="search-button" type="submit">
            <span>Search</span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div id="list">
    <div class="message-tab">
      <div class="user-info user-info--noresult">
        <div class="message-info">
          <p>No results.</p>
        </div>
      </div>
    </div>
  
</div>
{% endblock %}

{% block script %}
<script>
    const form = document.getElementById('search-form');
    const searchInput = document.getElementById('search-box');
    const list = document.getElementById("list");
    let page = 0;
    let pageNext = 1;
    let searchText = "";

    async function sendRequest(username){
        fetch(`{{ get_url('api.send_request', username='_/temp/_') }}`.replace('_/temp/_', username), {
            method: "POST"
        })
        .then(response => {
            if (response.ok){
                document.getElementById(`li_${username}`).remove();
            }
            return response.json();
        })
        .then(response => console.log(response))
        .catch(error => console.log(error))
    }

    const displayEmpty = () => {
      const itemDiv = document.createElement("div");
      itemDiv.classList.add("message-tab");
      itemDiv.innerHTML = `
      <div class="user-info user-info--noresult">
        <div class="message-info">
          <p>No results.</p>
        </div>
      </div>
      `
      list.append(itemDiv);
    }

    
    const displayResult = ({username, id, email}) => {
        const mainDiv = document.createElement('div');
        mainDiv.setAttribute("id", `li_${username}`)
        mainDiv.classList.add("message-tab")
        mainDiv.innerHTML = `
  <div class="user-info">
    <div class="user-group--search-page">
      <img src="{{ url_for('static', filename='images/user.png')}}" alt="" class="user-photo" />
      <div class="message-wrap">
        <h3 class="user-name">${username}</h3>
      </div>
    </div>

  </div>
        ` ;

        const buttonDiv = document.createElement("div");
        buttonDiv.innerHTML = `
<div class="message-info">
  <button id='btn-add-${id}'>Add friend</button>
</div>
        `
        mainDiv.firstElementChild.append(buttonDiv)
        buttonDiv.firstElementChild.onclick = () => sendRequest(username);

        list.append(mainDiv);
    }

    async function load(searchTextLocal) {
      page++;
      const response = await fetch("{{ get_url('api.search') }}?" + new URLSearchParams({
            search: searchTextLocal,
            exclude_friends: 1,
            page: pageNext,
        }));
      
      const json = await response.json();

      if (response.status >= 200 && response.status < 400) {
        if (page < json.pages) {
          pageNext++;
        }
      }

      json.data.forEach(displayResult);
      return json.data.length;
    }

    form.onsubmit = async (e) => {
        e.preventDefault();

        page = 0;
        pageNext = 1;

        searchText = searchInput.value;
        searchInput.value = "";

        if (searchText === "") return;
        list.innerHTML = "";

        if (( await load(searchText)) == 0) {
          displayEmpty();
          return
        }

        await loadUntilScroll(50);
      }

    async function loadUntilScroll(offset) {
      while (list.clientHeight + offset >= list.scrollHeight && page < pageNext) {
        await load(searchText);
      }
    }

    list.onscroll = async () => {
      if (list.scrollTop + list.clientHeight + 5 >= list.scrollHeight && page < pageNext) {
        await load(searchText);
      }
    }

</script>

{% endblock %}