@font-face {
  font-weight: 700;
  font-family: "Inter";
  font-style: normal;
  src: url("./fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: 600;
  font-family: "Inter";
  font-style: normal;
  src: url("/static/fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: "Inter";
  font-style: normal;
  src: url("/static/fonts/Inter-Medium.ttf") format("truetype");
}

body {
  font-family: "Inter", sans-serif;
  color: #707070;
}

* {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
}

strong {
  color: #4c66d6;
}

a {
  color: #c7c7c7;
  font-weight: 500;
  text-decoration: none;
}

label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #707070;
}

.section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

input, textarea {
  border: none;
  font-size: 16px;
  margin-top: 8px;
  width: 300px;
  color: #868686;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  resize: none;
}

input::placeholder {
  color: #bebebe;
}

input:focus-visible, textarea:focus-visible  {
  outline: 2px solid #adadad !important;
}


button {
  background: linear-gradient(133deg, #D0C3FC 0%, #C397FC 100%);
  box-shadow: 0px 4px 5px 0px #d1cbe4;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 39px;
  letter-spacing: 0.75px;
  display: flex;
  padding: 12px 39px;
  outline: none;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(133deg, #B9A8F1 0%, #B27FF3 100%);
  box-shadow: 0px 4px 5px 0px #d1cbe4;
  transition: 0.3s;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 40px;
  justify-content: flex-end;
}

.wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -100;
  overflow: hidden;
}

.log-wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 25px;
}

.log-wrapper--register {
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  width: 1000px;
  height: 650px;
  margin: auto 15px auto 15px;
}

.log {
  background-image: url("/static/images/log-background.jpg");
  background-size: cover;
  width: 1000px;
  height: 600px;
  background-color: white;
  color: #414141;
  display: flex;
  border-radius: 20px;
  -webkit-box-shadow: 22px 25px 59px 0px rgba(19, 10, 133, 0.1);
  -moz-box-shadow: 22px 25px 59px 0px rgba(19, 10, 133, 0.1);
  box-shadow: 22px 25px 59px 0px rgba(19, 10, 133, 0.1);
}

.log--register {
  height: 100%;
  background-color: white;
  color: #414141;
  display: flex;
  border-radius: 20px;

  @media only screen and (max-width: 680px) {
   flex-direction: column;
  }
}

.background {
  background-image: url("/static/images/background.jpg");
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.5;
  position: absolute;
  z-index: -50;
}

.info-box {
  color: white;
  padding: 35px;
  border-radius: 15px;
  width: 100%;
}

.info-box--register {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  
}

.info__logo {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 6px;
  font-weight: 700;
}

.info__description {
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 109px;
  text-align: center;
}

.info__description-register {
  font-size: 22px;
  text-align: left;
  margin-top: 51px;
}

.info__content {
  font-size: 16px;
  text-align: center;
}

.info__content--register {
  text-align: left;
  line-height: 1.7;
}

.info__button {
  border: 3px solid #ffffff;
  color: #ffffff;
  background: none;
  box-shadow: none;
  margin: 50px auto;
  padding: 20px 40px;
  font-size: 22px;
}

.info__button:hover {
  border: 3px solid #4c66d6;
  color: #4c66d6;
  background: none;
  box-shadow: none;
}

.sign__screen {
  padding-left: 60px;
  background-color: #ffffff;
}

.info__img {
  max-width: 266px;
}

.info__img--register {
  align-self: end;
}

.sign__title {
  font-size: 40px;
  color: #565656;
  font-weight: 600;
  margin-top: 30px;
}

.sign__subtitle {
  color: #adadad;
  font-size: 16px;
  margin-top: 18px;
}

.sign__form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.sign__button {
  color: #ffffff;
  font-weight: 600;
  margin-top: 40px;
  max-width: 230px;
}

.sign__label {
  margin: 20px 0 5px;
}

/*chat styles*/

.sidebar {
  background-color: #74EBD5;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  background-size: cover;
  width: 250px;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 1000;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 150px;
}

.sidebar-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}

.sidebar-menu > a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-weight: bolder;
  font-size: 13px;
}

.sidebar-image {
  max-width: 25px;
}

.sidebar-logo {
  margin-top: 30px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-logo-img {
 max-width: 70px;
}

.chat-wrap {
  display: flex;
  height: 100%;
  justify-content: center;
}

.chat-container {
  width: 100%;
  display: flex;
}

.user-header {
  height: 50px;
  background-color: #ffffff;
  margin-top: 50px;
  width: 100%;
  padding: 0 20px;
  position: fixed;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d5d5d5;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 20px 20px 20px;
  align-items: center;
}

.chat-window {
  background-color: #f8f8f8;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex: 1;
  padding: 100px 0px 20px 50px;
}

.user-info {
  padding: 15px 40px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  background-color: #f1f3f3;
  border-radius: 12px;
  transition: all .2s ease-in-out;
  color: #707070;

}

.user-info:hover {
  transform: scale(1.01);
  background-color: #e7e7e7;
}


.user-info--left {
  padding: 15px 40px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info--notactive {
  background-color: #f1f3f3;
  border-radius: 12px;
}

.user-info--noresult {
  background-color: #f1f3f3;
  border-radius: 12px;
  justify-content: center;
}

.user-photo {
  max-width: 30px;
  margin-right: 20px;
}


.user-photo--big {
  max-width: 50px;
  margin-right: 20px;
}

.user-photo--navbar {
  max-width: 30px;
  margin-right: 6px;
}

.message-wrapper {
  padding-bottom: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-header {
  color:#adadad ;
}

.message-wrapper--second {
  padding-bottom: 10px;
  width: 70%;
  text-align: left;
  align-self: end;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}

.message-bubble {
  background-color: #ffffff;
  padding: 16px 16px;
  border-radius: 30px 30px 30px 0;
  margin-bottom: 10px;
  display: inline;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.01) 0px 4px 6px -2px;
}

.messages-window {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-right: 50px;
  overflow-y: scroll;
}

.message-bubble--second {
  background-color: #9CC5FC;
  padding: 22px 32px;
  border-radius: 30px 30px 0px 30px;
  margin-bottom: 10px;
  align-self: end;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.01) 0px 4px 6px -2px;
  color: white;
  display: inline;

}

.message-bubble--second p {
  max-width: 700px;
  word-break: break-all;
  white-space: normal;

}

.message-bubble p {
  max-width: 700px;
  word-break: break-all;
  white-space: normal;

}

.chat-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 10px;
  padding-right: 30px;
}

.chat-input {
  flex: 1;
  height: 50px;
}

/*messages-list*/
.messages-container {
  width: 100%;
  margin: 90px 30px 0 30px;
}

.main-title {
  text-align: center;
  margin-bottom: 20px;
}

.user-group {
  display: flex;
  align-items: center;
}

.user-group--search {
  display: flex;
  align-items: center;
}

.logout {
  margin-left: 60px;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #707070;
}

.user-group--search-navbar {
  justify-content: flex-end;
  padding: 10px 50px 10px 0;
  font-size: 14px;
  background-color: #f1f3f3;
}

.user-time {
  margin-right: 15px;
}

.green {
  color: #2dcd2d;
}

.searchform {
  display: block;
  overflow: hidden;
  width: 30%;
  margin: 20px auto;
}
label,
input {
  vertical-align: baseline;
  color: #3b3b3b;
}
label {
  margin: 0.125em 0.125em 0 0;
  float: right;
}
input[type="search"] {
  border: 2px solid #bebebe;
  border-width: 0 0 3px;
  background-color: transparent;
  font: 22px "Open Sans", sans-serif;
  padding: 0.125em 0.225em;
  width: 85%;
  float: left;
  border-radius: 0;
}
input[type="search"]:focus {
  color: #1abbd8;
  border-color: #1abbd8;
  outline: none;
}

.fa-search {
  color: #bebebe;
}
.fa-search:hover {
  color: #1abbd8;
}
.friends-notactive {
  width: 130px;
}

.button-wrap {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.request-tab {
  margin-top: 30px;
}

.unseen-background {
  border: 2px solid #707070;
  font-weight: bold;
  color: #707070;
}

.valid-alert {
  margin-top: 5px;
  font-size: 13px;
  color: red;
  max-width: 300px;
}