<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav></nav>
    {% block body %}
    <section class="wrap">
      <div class="background" alt=""></div>
      <div class="log-wrapper">
        <div class="log">
          <div class="info-box">
            <div class="info__logo">Chat<br />App</div>
            <div class="info__description">
              Chat with your <strong>friends</strong><br />
              around whole world
            </div>
            <p class="info__content">
              Discrover new friends, connect with people, make new memories!
            </p>
            <button class="info__button">Join today</button>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
  </body>
</html>
