
{% extends 'base.html'%}

{% block title%}
Login
{% endblock %}

{% block body%}
<h1>Add Friend</h1>
<div>
    <form id="search-form" method="GET">
        <label for="">Search</label>
        <input type="text" id="search">
        <input type="submit">
    </form>

    <ul id="list">
    </ul>
</div>

{% endblock %}

{% block script %}
<script>
    const form = document.getElementById('search-form');
    const search_input = document.getElementById('search');
    const ul = document.getElementById("list");

    const sendRequest = function(username){
        
        fetch(`${location.origin}{{ url_for('api.send_request', username='_/temp/_') }}`.replace('_/temp/_', username), {
            method: "POST"
        })
        .then(response => {
            if (response.ok){
                document.getElementById(`li_${username}`).remove();
            }
            return response.json();
        })
        .then(response => console.log(response))
        .catch(error => console.log(error))
    }

    const displayResult = (result) => {
        const li = document.createElement('li');
        li.setAttribute("id", `li_${result.username}`)
        li.innerHTML = `${result.username}` ;

        const send_button = document.createElement("button");
        send_button.onclick = () => sendRequest(result.username);
        send_button.innerHTML = "Send request ";

        li.append(send_button);

        ul.append(li);
    }

    form.onsubmit = () => {

        let search_text = search_input.value;
        search_input.value = "";

        if (search_text === "") return false;
        ul.innerHTML = "";

        console.log(search_text)

        fetch(`${location.origin}{{ url_for('api.search') }}?` + new URLSearchParams({
            search: search_text,
            exclude_friends: 1,
        }))
        .then(response => {
            console.log(response);
            return response.json()})
        .then(data => {
            console.log(data);
            data.data.forEach(displayResult);
            let li = document.createElement("li");
            li.innerHTML = `pages: ${data.pages} page: ${data.page}`;
            ul.append(li);
        })
        .catch(error => console.log(error))

        return false;
    }

</script>

{% endblock %}